[Unit]
Description=Swap Caps and Escape
After=graphical.target

[Service]
ExecStart=/usr/bin/setxkbmap -option "caps:swapescape"
Restart=always
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
